.App {
  flex: 1;
  display: flex;
  text-align: center;
  min-height: 80vh;
}
.choice-card {
  flex: 1;
  display: flex;
  /* margin: 20px; */
  max-width: 400px;
  font-size: 3em;
  padding: 20px 20px;
  font-weight: 300;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border: 10px solid black;
  justify-content: space-around;
}
img {
  width: 250px;
  height: 250px;
}
h1 {
  font-size: 50px;
}
.winner {
  color: black;
  border: 15px solid black;
}
.loser {
  color: lightgray;
  border: 10px solid lightgray;
}
a {
  color: white !important;
}

.logo {
  height: 50px !important;
  margin-right:;
}